# which files to ignore

# script related files
*.pyc

# vim junk
.*.swp

# LaTeX by-products
*.aux
*.bbl
*.blg
*.log

# xcode and osx junk files
.DS_Store
*.swp
*~.nib

build

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

