<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.9.0.117994</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2009-11-09 22:01:52 -0600</string>
	<key>Creator</key>
	<string>Jeremy Kelley</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{290.238, 292.875}, {38.7623, 28.25}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28668</integer>
			</dict>
			<key>ID</key>
			<integer>28673</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.550011</string>
						<key>g</key>
						<string>0.550011</string>
						<key>r</key>
						<string>0.550011</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{113.475, 292.875}, {38.7622, 28.25}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>4</integer>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>AdjustableArrow</string>
			<key>ShapeData</key>
			<dict>
				<key>ratio</key>
				<real>0.50000017881393433</real>
				<key>width</key>
				<real>20.000001907348633</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.550011</string>
						<key>g</key>
						<string>0.550011</string>
						<key>r</key>
						<string>0.550011</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.4523809552192688</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.4</string>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.0980392</string>
						<key>g</key>
						<string>0.0980392</string>
						<key>r</key>
						<string>0.0980392</string>
					</dict>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>28650</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0.125, 0.25}, {0.75, 0.5}}</string>
			<key>isConnectedShape</key>
			<true/>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{40.7377, 399}, {63, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>28672</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf110
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 at point\sub 0\nosupersub , t\sub 0}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{338.738, 389}, {63, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>28671</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf110
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 at point\sub 0\nosupersub , t\sub 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>28670</integer>
			<key>Points</key>
			<array>
				<string>{88.2377, 321.125}</string>
				<string>{60.2377, 295.125}</string>
				<string>{86.2377, 292.875}</string>
				<string>{56.2377, 321.125}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>CornerRadius</key>
					<real>2</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>28669</integer>
			<key>Points</key>
			<array>
				<string>{386.238, 321.125}</string>
				<string>{358.238, 295.125}</string>
				<string>{384.238, 292.875}</string>
				<string>{354.238, 321.125}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>CornerRadius</key>
					<real>2</real>
					<key>HeadArrow</key>
					<string>0</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>28668</integer>
			</dict>
			<key>ID</key>
			<integer>35</integer>
			<key>Points</key>
			<array>
				<string>{113.475, 289.145}</string>
				<string>{160, 269}</string>
				<string>{254, 352}</string>
				<string>{329, 322.965}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>YES</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.31</string>
						<key>b</key>
						<string>0.298039</string>
						<key>g</key>
						<string>0.298039</string>
						<key>r</key>
						<string>0.298039</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>28650</integer>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>28654</integer>
									<key>Points</key>
									<array>
										<string>{336.261, 273.212}</string>
										<string>{404.458, 273.212}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Cap</key>
											<integer>0</integer>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.25098</string>
												<key>g</key>
												<string>0.203922</string>
												<key>r</key>
												<string>0.172549</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{336.295, 260.425}, {68.1967, 12.7869}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>28655</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.760784</string>
												<key>g</key>
												<string>0.721569</string>
												<key>r</key>
												<string>0.690196</string>
											</dict>
											<key>FillType</key>
											<integer>2</integer>
											<key>GradientAngle</key>
											<real>90</real>
											<key>GradientColor</key>
											<dict>
												<key>b</key>
												<string>0.639216</string>
												<key>g</key>
												<string>0.521569</string>
												<key>r</key>
												<string>0.423529</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>28653</integer>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>28657</integer>
									<key>Points</key>
									<array>
										<string>{336.276, 260.212}</string>
										<string>{404.472, 260.212}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Cap</key>
											<integer>0</integer>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.25098</string>
												<key>g</key>
												<string>0.203922</string>
												<key>r</key>
												<string>0.172549</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{398.143, 257.068}, {4.90164, 2.45082}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28659</integer>
											<key>ImageID</key>
											<integer>2</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{340.723, 257.228}, {0.532787, 2.13115}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28660</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{339.871, 257.654}, {0.532787, 1.70492}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28661</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{339.019, 258.081}, {0.532787, 1.27869}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28662</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{338.166, 258.507}, {0.532787, 0.85246}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28663</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{337.314, 258.933}, {0.532787, 0.42623}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28664</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{342.211, 256.38}, {9.16393, 3.40984}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FontInfo</key>
											<dict>
												<key>Font</key>
												<string>Helvetica-Bold</string>
												<key>Size</key>
												<real>11</real>
											</dict>
											<key>ID</key>
											<integer>28665</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{336.295, 256.163}, {68.1967, 4.2623}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28666</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0.964706</string>
														<key>g</key>
														<string>0.933333</string>
														<key>r</key>
														<string>0.898039</string>
													</dict>
													<key>FillType</key>
													<integer>2</integer>
													<key>GradientAngle</key>
													<real>90</real>
													<key>GradientColor</key>
													<dict>
														<key>b</key>
														<string>0.854902</string>
														<key>g</key>
														<string>0.819608</string>
														<key>r</key>
														<string>0.776471</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
										</dict>
									</array>
									<key>ID</key>
									<integer>28658</integer>
								</dict>
							</array>
							<key>ID</key>
							<integer>28656</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{336.295, 256.096}, {68.1967, 102.295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>28667</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>28652</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{329, 229}, {82.4754, 156}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28668</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>28651</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>28601</integer>
									<key>Points</key>
									<array>
										<string>{38.261, 273.212}</string>
										<string>{106.458, 273.212}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Cap</key>
											<integer>0</integer>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.25098</string>
												<key>g</key>
												<string>0.203922</string>
												<key>r</key>
												<string>0.172549</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{38.2949, 260.425}, {68.1967, 12.7869}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>28612</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.760784</string>
												<key>g</key>
												<string>0.721569</string>
												<key>r</key>
												<string>0.690196</string>
											</dict>
											<key>FillType</key>
											<integer>2</integer>
											<key>GradientAngle</key>
											<real>90</real>
											<key>GradientColor</key>
											<dict>
												<key>b</key>
												<string>0.639216</string>
												<key>g</key>
												<string>0.521569</string>
												<key>r</key>
												<string>0.423529</string>
											</dict>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
								</dict>
							</array>
							<key>ID</key>
							<integer>28600</integer>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>28614</integer>
									<key>Points</key>
									<array>
										<string>{38.2757, 260.212}</string>
										<string>{106.472, 260.212}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>Cap</key>
											<integer>0</integer>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0.25098</string>
												<key>g</key>
												<string>0.203922</string>
												<key>r</key>
												<string>0.172549</string>
											</dict>
											<key>HeadArrow</key>
											<string>0</string>
											<key>TailArrow</key>
											<string>0</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{100.143, 257.068}, {4.90164, 2.45082}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28616</integer>
											<key>ImageID</key>
											<integer>2</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{42.7235, 257.228}, {0.532787, 2.13115}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28618</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{41.871, 257.654}, {0.532787, 1.70492}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28619</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{41.0185, 258.081}, {0.532787, 1.27869}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28620</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{40.1662, 258.507}, {0.532787, 0.85246}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28621</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{39.3136, 258.933}, {0.532787, 0.42623}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28622</integer>
											<key>ImageID</key>
											<integer>1</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Beneath</key>
													<string>YES</string>
													<key>Draws</key>
													<string>NO</string>
													<key>Fuzziness</key>
													<real>0.0</real>
													<key>ShadowVector</key>
													<string>{0, 0}</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Cap</key>
													<integer>0</integer>
													<key>Color</key>
													<dict>
														<key>a</key>
														<string>0.2</string>
														<key>b</key>
														<string>0.300439</string>
														<key>g</key>
														<string>0</string>
														<key>r</key>
														<string>0</string>
													</dict>
													<key>Join</key>
													<integer>0</integer>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{44.211, 256.38}, {9.16393, 3.40984}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FontInfo</key>
											<dict>
												<key>Font</key>
												<string>Helvetica-Bold</string>
												<key>Size</key>
												<real>11</real>
											</dict>
											<key>ID</key>
											<integer>28623</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{38.295, 256.163}, {68.1967, 4.2623}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>28624</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Color</key>
													<dict>
														<key>b</key>
														<string>0.964706</string>
														<key>g</key>
														<string>0.933333</string>
														<key>r</key>
														<string>0.898039</string>
													</dict>
													<key>FillType</key>
													<integer>2</integer>
													<key>GradientAngle</key>
													<real>90</real>
													<key>GradientColor</key>
													<dict>
														<key>b</key>
														<string>0.854902</string>
														<key>g</key>
														<string>0.819608</string>
														<key>r</key>
														<string>0.776471</string>
													</dict>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
										</dict>
									</array>
									<key>ID</key>
									<integer>28615</integer>
								</dict>
							</array>
							<key>ID</key>
							<integer>28613</integer>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{38.2949, 256.096}, {68.1967, 102.295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>28649</integer>
							<key>Shape</key>
							<string>Rectangle</string>
						</dict>
					</array>
					<key>ID</key>
					<integer>28599</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{31, 229}, {82.4754, 156}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>28650</integer>
					<key>ImageID</key>
					<integer>3</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>28598</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{152.738, 256}, {137, 102}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>82</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>0</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf110
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 webservice}</string>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2009-11-10 15:06:03 -0600</string>
	<key>Modifier</key>
	<string>Jeremy Kelley</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{499, 280}, {710, 778}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 124}, {561, 609}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
